body {
    font-family: sans-serif;
    margin: 0;
    background-color: yellow;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#menu {
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: bold;
}

button#menu-btn {
    min-width: 100px;
    font-weight: bold;
    background-color: #125982;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border: 2px solid greenyellow
}

button#menu-btn:hover {
    color: greenyellow;
}

#main {
    padding: 50px 50px 0 50px;
    flex: 1;
}

h1#title {
    text-align: center;
    color: red;
    font-variant-caps: small-caps;
    border: 4px solid red;
    width: fit-content;
    margin: auto;
    padding: 10px;
}

#message {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

#grid-board {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas:
        "square-1 square-2 square-3 square-4"
        "square-5 square-6 square-7 square-8"
        "square-9 square-10 square-11 square-12"
        "square-13 square-14 square-15 square-16";
    background-color: black;
    text-align: center;
    font-weight: bold;
    font-size: xxx-large;
}

.tile {
    border: 2px solid black;
    align-content: center;
    cursor: grab;
}

.tile.moveablepiece:hover {
    border-color: red;
    text-decoration: underline;
    color: #006600;
}

.solved {
    border-width: 4px !important;
    background-image: url(images/background.jpg);
}

div#shuffle {
    text-align: center;
}

button#shuffle-btn {
    background-color: yellow;
    color: red;
    border: 3px solid red;
    font-variant-caps: small-caps;
    padding: 5px 10px;
    font-weight: bold;
    margin: 50px;
}

button#shuffle-btn:hover {
    color: indianred;
    border: 3px solid indianred;
}

#footer {
    text-align: right;
    padding: 20px;
}