input#upload-btn {
    min-width: 100px;
    font-weight: bold;
    background-color: #125982;
    color: white;
    padding: 5px;
    border: 2px solid greenyellow
}

input:hover#upload-btn {
    color: greenyellow;
}

#upload-msg {
    color: red;
    font-weight: bold;
}